.carousel-control-prev,
.carousel-control-next {
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	height: 40px;
	width: 40px;
}

.carousel-control-prev {
	left: 12%;
}
.carousel-control-next {
	right: 12%;
}

@media (min-width: 1024px) {
	.carousel-control-prev {
		left: 10%;
	}
}

@media (min-width: 1024px) {
	.carousel-control-next {
		right: 10%;
	}
}

@media (min-width: 1024px) {
	#btn {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1550px) {
	#set-slide {
		line-height: 1.25rem;
		height: 740px;
		padding-top: 0px;
		font-size: 15px;
	}
}
@media (min-width: 1024px) and (max-width: 1550px) {
	.carousel-indicators {
		bottom: 3% !important;
	}
}
@media (min-width: 1550px) {
	.carousel-indicators {
		bottom: 7% !important;
	}
}
.carousel-indicators {
	margin: auto;
	padding: 0;
	z-index: 10;
	width: 30%;
	position: absolute;
	justify-content: center;
	align-items: end;
	bottom: 6%;
}
.carousel-inner {
	overflow: visible;
}
#seeMore:active {
	background-color: #007bff;
	color: #fff;
}
#btn {
	color: red;
}
