.carousel-control-prev,
.carousel-control-next {
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 25%;
}
.carousel-control-prev {
	left: 70px;
}
.carousel-control-next {
	right: 70px;
}
.carousel-indicators {
	margin: auto;
	padding: 0;
	z-index: 10;
	width: 20%;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 10px;
}
#seeMore:active {
	background-color: #007bff;
	color: #fff;
}
