@import './styles/dropdown.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.slide-settings {
		@apply border-2 border-red-600 rounded-2xl shadow-3xl lg:text-start lg:h-[688px];
	}
	.lg-settings {
		@apply lg:h-[43rem] lg:w-[80%] h-[25rem] w-[75%] text-base lg:text-[17px] lg:text-left;
	}
	.show {
		@apply absolute;
	}
	.xsmall-pic {
		@apply w-32 h-10;
	}
	.xsmall-dropdown {
		@apply ms-auto mb-20 me-2;
	}
	.md-pic {
		@apply md:w-60 md:h-20;
	}
	.md-dropdown {
		@apply ms-auto;
	}
	.lg-pic {
		@apply lg:h-24 w-72;
	}
}

root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}
.carousel-control-prev-icon {
	background-image: url('/control-left.png') !important;
}
.carousel-control-next-icon {
	background-image: url('/control-right.png') !important;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	width: 100%;
	color: rgb(var(--foreground-rgb));
	overflow-x: hidden;
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
